@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/essence_css/core-style.css" rel="stylesheet" />
<link href="~/Content/essence_css/style.css" rel="stylesheet" />
<script>
    var x = document.getElementById("picindex2");
    x.style.display = "none";
</script>
<div class="top_catagory_area section-padding-80 clearfix">

        <div class="row justify-content-center">
            <div class="col-12 col-sm-6 col-md-4">
                <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(../img/bg-img/bg-3.jpg);">
                    <div class="catagory-content">
                        <a href="#">DB</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(../img/bg-img/bg-3.jpg);">
                    <div class="catagory-content">
                        <a href="#">WB</a>
                    </div>
                </div>
            </div>
            <!-- Single Catagory -->
            <div class="col-12 col-sm-6 col-md-4">
                <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(../img/bg-img/bg-4.jpg);">
                    <div class="catagory-content">
                        <a href="#">MP</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:2%">
                <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(../img/bg-img/bg-4.jpg);">
                    <div class="catagory-content">
                        <a href="#">TC</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:2%">
                <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(../img/bg-img/bg-4.jpg);">
                    <div class="catagory-content">
                        <a href="#">PL</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:2%">
                <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(../img/bg-img/bg-4.jpg);">
                    <div class="catagory-content">
                        <a href="#">FL</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:2%">
                <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(../img/bg-img/bg-4.jpg);">
                    <div class="catagory-content">
                        <a href="#">FT</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:2%">
                <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(../img/bg-img/bg-4.jpg);">
                    <div class="catagory-content">
                        <a href="#">TP</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:2%">
                <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(../img/bg-img/bg-4.jpg);">
                    <div class="catagory-content">
                        <a href="#">MAP</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


